#parrafo1{
    background-color: rgb(223, 141, 192);
    color:rgb(83, 30, 145);
    font-size:40px;
}
.parrafo2{
    background-color: rgb(151, 199, 218);
    color:rgb(122, 54, 136);
    font-size: 25px;
}